
.container{
  text-align: center;
  height: 100vh;
}

.titleh1{
  color: #000;
  margin-bottom: 5%;
}

.form{
  display: flex;
  text-align: justify;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  width: 60%;
  padding: 30px;
  background: #eaebed;
  margin-top: 5%;
  margin-bottom: 10%;
}

.inputForm{
  width: 20rem;
}


.dropdownForm{
  width: 20rem;
}

.checkForm{
  text-align: justify;
}



.Redes{
  display: flex;
}

@media (min-width: 400px) and (max-width: 605px) {
  .titleh1{
    font-size: 1.3rem;
  }

  .form{
    width: 80%;
  }
}

@media (min-width: 320px) and (max-width: 399px){
  .form{
    width: 100%;
  }
  .titleh1{
    font-size: 1.2rem;
    margin-bottom: 10%;
  }
  .inputForm{
    width: 15rem;
    height: 3.5rem;
  }
  .dropdownForm{
    width: 15rem;
  }
  
}

